{% extends '@Jerm/Modal/blank.html.twig' %}

{% block content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            {{ task.name }}

            <a class="btn btn-sm modal_redirect" data-href="{{ path('view_task', { 'id': task.id }) }}">
                <i class="fa fa-refresh"></i>
            </a>
        </h4>

        <span>Task #{{ task.id }}</span>
    </div>

    <div class="modal-body">
        <p class="text">{{ task.description|nl2br }}</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
    </div>
{% endblock %}